alembic==1.14.0 ; python_full_version > "3.10.0" and python_version < "3.14"
apispec-webframeworks==1.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
apispec==6.7.1 ; python_full_version > "3.10.0" and python_version < "3.14"
apispec[yaml]==6.7.1 ; python_full_version > "3.10.0" and python_version < "3.14"
async-timeout==5.0.1 ; python_full_version > "3.10.0" and python_full_version <= "3.11.2"
attrs==24.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
authlib==0.15.6 ; python_full_version > "3.10.0" and python_version < "3.14"
babel==2.16.0 ; python_full_version > "3.10.0" and python_version < "3.14"
banal==1.0.6 ; python_full_version > "3.10.0" and python_version < "3.14"
blinker==1.9.0 ; python_full_version > "3.10.0" and python_version < "3.14"
boto3==1.35.58 ; python_full_version > "3.10.0" and python_version < "3.14"
botocore==1.35.58 ; python_full_version > "3.10.0" and python_version < "3.14"
certifi==2024.8.30 ; python_full_version > "3.10.0" and python_version < "3.14"
cffi==1.17.1 ; python_full_version > "3.10.0" and python_version < "3.14" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
charset-normalizer==3.4.0 ; python_full_version > "3.10.0" and python_version < "3.14"
click==8.1.7 ; python_full_version > "3.10.0" and python_version < "3.14"
colorama==0.4.6 ; python_full_version > "3.10.0" and python_version < "3.14"
countrynames==1.16.2 ; python_full_version > "3.10.0" and python_version < "3.14"
cryptography==43.0.3 ; python_full_version > "3.10.0" and python_version < "3.14"
dnspython==2.7.0 ; python_full_version > "3.10.0" and python_version < "3.14"
elasticsearch==7.17.0 ; python_full_version > "3.10.0" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_full_version > "3.10.0" and python_version < "3.14"
eventlet==0.37.0 ; python_full_version > "3.10.0" and python_version < "3.14"
fakeredis==2.26.1 ; python_full_version > "3.10.0" and python_version < "3.14"
fingerprints==1.2.3 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-babel==4.0.0 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-cors==5.0.0 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-mail==0.10.0 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-migrate==4.0.7 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-sqlalchemy==3.1.1 ; python_full_version > "3.10.0" and python_version < "3.14"
flask-talisman==1.1.0 ; python_full_version > "3.10.0" and python_version < "3.14"
flask==2.3.3 ; python_full_version > "3.10.0" and python_version < "3.14"
followthemoney @ git+https://github.com/investigativedata/followthemoney.git@240d045836978110e5c49c96d6477b314757f0ec ; python_full_version > "3.10.0" and python_version < "3.14"
followthemoney-compare==0.4.4 ; python_full_version > "3.10.0" and python_version < "3.14"
followthemoney-store[postgresql]==3.1.0 ; python_full_version > "3.10.0" and python_version < "3.14"
fuzzywuzzy[speedup]==0.18.0 ; python_full_version > "3.10.0" and python_version < "3.14"
greenlet==3.1.1 ; python_version < "3.14" and python_full_version > "3.10.0"
gunicorn[eventlet]==23.0.0 ; python_full_version > "3.10.0" and python_version < "3.14"
idna==3.10 ; python_full_version > "3.10.0" and python_version < "3.14"
isodate==0.6.1 ; python_full_version > "3.10.0" and python_version < "3.14"
itsdangerous==2.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
jellyfish==1.1.0 ; python_full_version > "3.10.0" and python_version < "3.14"
jinja2==3.1.4 ; python_full_version > "3.10.0" and python_version < "3.14"
jmespath==1.0.1 ; python_full_version > "3.10.0" and python_version < "3.14"
jsonschema-specifications==2024.10.1 ; python_full_version > "3.10.0" and python_version < "3.14"
jsonschema==4.23.0 ; python_full_version > "3.10.0" and python_version < "3.14"
levenshtein==0.26.1 ; python_full_version > "3.10.0" and python_version < "3.14"
mako==1.3.6 ; python_full_version > "3.10.0" and python_version < "3.14"
markupsafe==3.0.2 ; python_full_version > "3.10.0" and python_version < "3.14"
marshmallow==3.23.1 ; python_full_version > "3.10.0" and python_version < "3.14"
mmh3==5.0.1 ; python_full_version > "3.10.0" and python_version < "3.14"
networkx==3.3 ; python_full_version > "3.10.0" and python_version < "3.14"
normality==2.5.0 ; python_full_version > "3.10.0" and python_version < "3.14"
numpy==2.1.3 ; python_full_version > "3.10.0" and python_version < "3.14"
openpyxl==3.1.5 ; python_full_version > "3.10.0" and python_version < "3.14"
orjson==3.10.11 ; python_full_version > "3.10.0" and python_version < "3.14"
packaging==24.2 ; python_full_version > "3.10.0" and python_version < "3.14"
pandas==2.2.3 ; python_full_version > "3.10.0" and python_version < "3.14"
pantomime==0.6.1 ; python_full_version > "3.10.0" and python_version < "3.14"
phonenumbers==8.13.49 ; python_full_version > "3.10.0" and python_version < "3.14"
pika==1.3.2 ; python_full_version > "3.10.0" and python_version < "3.14"
prefixdate==0.4.1 ; python_full_version > "3.10.0" and python_version < "3.14"
prometheus-client==0.20.0 ; python_full_version > "3.10.0" and python_version < "3.14"
psycopg2-binary==2.9.10 ; python_full_version > "3.10.0" and python_version < "3.14"
pycparser==2.22 ; python_full_version > "3.10.0" and python_version < "3.14" and platform_python_implementation != "PyPy"
pyjwt==2.9.0 ; python_full_version > "3.10.0" and python_version < "3.14"
pyparsing==3.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_full_version > "3.10.0" and python_version < "3.14"
python-frontmatter==1.1.0 ; python_full_version > "3.10.0" and python_version < "3.14"
python-levenshtein==0.26.1 ; python_full_version > "3.10.0" and python_version < "3.14"
python-stdnum==1.20 ; python_full_version > "3.10.0" and python_version < "3.14"
pytz==2024.2 ; python_full_version > "3.10.0" and python_version < "3.14"
pyyaml==6.0.2 ; python_full_version > "3.10.0" and python_version < "3.14"
rapidfuzz==3.10.1 ; python_full_version > "3.10.0" and python_version < "3.14"
rdflib==7.0.0 ; python_full_version > "3.10.0" and python_version < "3.14"
redis==4.6.0 ; python_full_version > "3.10.0" and python_version < "3.14"
referencing==0.35.1 ; python_full_version > "3.10.0" and python_version < "3.14"
requests==2.32.3 ; python_full_version > "3.10.0" and python_version < "3.14"
requests[security]==2.32.3 ; python_full_version > "3.10.0" and python_version < "3.14"
rigour==0.6.2 ; python_full_version > "3.10.0" and python_version < "3.14"
rpds-py==0.21.0 ; python_full_version > "3.10.0" and python_version < "3.14"
s3transfer==0.10.3 ; python_full_version > "3.10.0" and python_version < "3.14"
sentry-sdk==2.18.0 ; python_full_version > "3.10.0" and python_version < "3.14"
servicelayer[amazon]==1.23.1 ; python_full_version > "3.10.0" and python_version < "3.14"
six==1.16.0 ; python_full_version > "3.10.0" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_full_version > "3.10.0" and python_version < "3.14"
sqlalchemy2-stubs==0.0.2a38 ; python_full_version > "3.10.0" and python_version < "3.14"
sqlalchemy==2.0.36 ; python_full_version > "3.10.0" and python_version < "3.14"
stringcase==1.2.0 ; python_full_version > "3.10.0" and python_version < "3.14"
structlog==24.4.0 ; python_full_version > "3.10.0" and python_version < "3.14"
tabulate==0.9.0 ; python_full_version > "3.10.0" and python_version < "3.14"
text-unidecode==1.3 ; python_full_version > "3.10.0" and python_version < "3.14"
tqdm==4.67.0 ; python_full_version > "3.10.0" and python_version < "3.14"
types-pyyaml==6.0.12.20240917 ; python_full_version > "3.10.0" and python_version < "3.14"
typing-extensions==4.12.2 ; python_full_version > "3.10.0" and python_version < "3.14"
tzdata==2024.2 ; python_full_version > "3.10.0" and python_version < "3.14"
urllib3==1.26.20 ; python_full_version > "3.10.0" and python_version < "3.14"
werkzeug==3.1.3 ; python_full_version > "3.10.0" and python_version < "3.14"
zipstream-new==1.1.8 ; python_full_version > "3.10.0" and python_version < "3.14"
